<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Artifacts/QC_git/selenide">
  <!--      <classes><class name="org.tests.MyTests">
            <methods><include name="simpleLoginTests"/>
            </methods>
        </class>-->
            <classes>
                <class name="runners.KarateTestRunner"/>
            </classes>
<!--        </classes>-->
    </test>
</suite>